# clojure
/target/cljsbuild
/target/uberjar/*
!/target/uberjar/pico-chat.jar
target/base+system+user+dev+dev+repl
target/figwheel_temp
/lib
/classes
/checkouts
pom.xml
*.class
/.lein-*
profiles.clj
/.env
.nrepl-port
/log
figwheel_server.log

# docker
.env
.volumes
