<!DOCTYPE html>
<html>
    <head>
        <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% style "/assets/font-awesome/css/font-awesome.min.css" %}

        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!--Import materialize.css-->
        {% style "/assets/materializecss/css/materialize.min.css" %}
        {% style "/css/screen.css" %}

        <title>Welcome to pico-chat</title>
    </head>
    <body>
        <div id="navbar"></div>
        <div id="app">
            Loading...
        </div>

        <!-- scripts and styles -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        {% script "/js/app.js" %}
        {% style "/assets/materializecss/js/materialize.min.js" %}

        <script type="text/javascript">
         var context = "{{servlet-context}}";
         var csrfToken = "{{csrf-token}}";
        </script>
        {% script "/js/app.js" %}
    </body>
</html>
